{% extends 'master.html' %}
{% load static  %}
{% block content %}
    <h1 class="text-primary text-center">Paying for {{ product.name }}</h1>
    <form class="" method="post" action="">
        <p>{{ success }}</p>
        {% csrf_token %}
        <input value="{{ product.price }}" required readonly class="form-control" name="p-price" type="text"><br>
        <input required class="form-control" placeholder="Phone number" name="c-phone" type="text"><br>
        <input required class="btn btn-info" value="pay" type="submit">

    </form>

{% endblock %}